body { background: #e627d3; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-invoice-0 { color: #fe1fef; font-size: 18px; margin-bottom: 5px; }
.block-invoice-1 { color: #b288d3; font-size: 13px; margin-bottom: 5px; }
.block-cart-2 { color: #831d82; font-size: 20px; margin-bottom: 5px; }
.block-shipping-3 { color: #fad353; font-size: 15px; margin-bottom: 5px; }
.block-metrics-4 { color: #2201d1; font-size: 19px; margin-bottom: 5px; }
.block-router-5 { color: #5d2f66; font-size: 14px; margin-bottom: 5px; }
.block-metrics-6 { color: #7b512e; font-size: 12px; margin-bottom: 5px; }
.block-router-7 { color: #fcb80f; font-size: 14px; margin-bottom: 5px; }
.block-sms-8 { color: #b490c4; font-size: 12px; margin-bottom: 5px; }
.block-user-9 { color: #27a16c; font-size: 20px; margin-bottom: 5px; }